#############################################################
# Docker Compose Settings
#############################################################

# Necessary for Windows
COMPOSE_CONVERT_WINDOWS_PATHS=1

# Select which docker-compose files to include. Append more with `:docker-compose.prod.yml` at the end
COMPOSE_FILE=docker-compose.yml:docker-compose.override.yml

# Change the separator from : to ; on Windows
COMPOSE_PATH_SEPARATOR=:

# Define the prefix of container names.
COMPOSE_PROJECT_NAME=golang

# Timezone
APP_TIMEZONE=Asia/Dhaka

# Proxy
APP_HTTP_PROXY=
APP_HTTPS_PROXY=
APP_NO_PROXY=127.0.0.1,localhost

# Build Mode ['dev', 'prod']
DOCKER_BUILD_MODE=prod

#############################################################
# Service Settings
#############################################################

UID=1000
GID=1000

# Web Service
HTTP_PUBLISH_PORT=8889
HTTPS_PUBLISH_PORT=8890


